html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  color: white;
}

p {
  font-size: 1rem;
  padding: .25rem;
  margin: 0;
  font-weight: normal;

}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

section {
  display: grid;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  stroke: #ff9500;
  stroke-width: 3px;
  color: white;
  height: 8em;
  width: 8em;
  margin: 0;
  position:
}
